<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="#people-search">People Search</a>
    <a href="#facial-image">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="#breach-search">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="#misc-personal-info">Misc. personal info</a>
</div>

<div class="main-content">
    <h1>Search for a BTC or ETH address here:</h1>
    <form id="blockchainExplorerForm">
        <label for="addressInput">Address:</label>
        <input type="text" id="addressInput" name="address" required>

        <label for="currencySelect">Currency:</label>
        <select id="currencySelect" name="currency">
            <option value="btc">Bitcoin (BTC)</option>
            <option value="eth">Ethereum (ETH)</option>
        </select>

        <button type="button" onclick="openBlockchainExplorer()">Search</button>
    </form>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
