


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="#people-search">People Search</a>
    <a href="#facial-image">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="#breach-search">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="#misc-personal-info">Misc. personal info</a>
</div>

<div class="main-content">
    <h1>Welcome to Spike's Tool</h1>
    <!-- Add your content here -->
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
