<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/people">People Search</a>
    <a href="/face">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="/breach">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="/metadata">Misc. personal info</a>
</div>

<div class="main-content">
    <h1>Explore a Crypto Address!</h1>
    <form id="blockchainExplorerForm">
        <div class="form-group">
            <label for="addressInput">Search for a BTC or ETH address here:</label>
            <input type="text" id="addressInput" name="address" required>
            <select id="currencySelect" name="currency">
                <option value="btc">Bitcoin (BTC)</option>
                <option value="eth">Ethereum (ETH)</option>
            </select>
            <button type="button" onclick="openBlockchainExplorer()">Search</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>