<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool - Facial Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="#people-search">People Search</a>
    <a href="/face">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="#breach-search">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="#misc-personal-info">Misc. personal info</a>
</div>

<div class="main-content">
    <h1>Facial Analysis</h1>
    <div id="iframe-container">
        <iframe src="https://www.facecheck.id" width="600" height="400">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
    <a href="https://www.pimeyes.com/en" target="_blank">Link to PimEyes</a>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>