<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool - Facial Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/people">People Search</a>
    <a href="/face">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="/breach">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="/metadata">Misc. personal info</a>
</div>

<div class="main-content">
    <h2>Facial Analysis</h2>
    <div class="service-container">
        <div class="iframe-container">
            <iframe src="https://www.facecheck.id" style="width: 95%; height: 95vh;">
                <p>Your browser does not support iframes.</p>
            </iframe>
        </div>
        <div class="pimeyes-logo-container">
            <a href="https://www.pimeyes.com/en" target="_blank">
                <img src="{{ url_for('static', filename='images/pimeyes-logo.png') }}" alt="PimEyes Logo">
            </a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>