


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="#people-search">People Search</a>
    <a href="#facial-image">Facial / Image</a>
    <a href="#username-socials">Username / Socials</a>
    <a href="#breach-search">Breach Search</a>
    <a href="crypto">Crypto</a>
    <a href="#misc-personal-info">Misc. personal info</a>
</div>

<div class="search-container">
    <input type="text" id="username" placeholder="Enter username to search">
    <button id="searchBtn">Search</button>
</div>
<div id="results">
        <!-- Results will be displayed here -->
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
