<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="#people-search">People Search</a>
    <a href="/face">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="#breach-search">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="#misc-personal-info">Misc. personal info</a>
</div>

<div class="main-content">
    <h1>Image Metadata Analyser</h1>
    <form action="/metadata" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Analyse">
    </form>
    {% if metadata %}
    <div id="metadata-results">
        <h2>Metadata Results</h2>
        {% if metadata.items %}
            <ul>
                {% for tag, value in metadata.items() %}
                    <li>{{ tag }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ metadata['Error'] }}</p>
        {% endif %}
    </div>
{% endif %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
