
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spike's OSINT Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/people">People Search</a>
    <a href="/face">Facial / Image</a>
    <a href="/username">Username / Socials</a>
    <a href="/breach">Breach Search</a>
    <a href="/crypto">Crypto</a>
    <a href="/metadata">Misc. personal info</a>
</div>

<div class="search-container">
    <h1 class="username-search-heading">Username Searching Tool 'Sherlock'</h1>
    <h2 class="username-search-subheading">Input a Username in the box below!</h2>
    <input type="text" id="username" placeholder="Enter username to search">
    <button id="searchBtn">Search</button>
</div>
<div id="results">
    <!-- Results will be displayed here -->
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
